body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, #108dc7, #ef8e38);
    font-family: system-ui, -apple-system;
}

header , footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5vh;
    background-color: #9DADBC;
}

h2{
    font-size: 3.5vh;
}

main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    height: 80%;
}

#player{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}

#player > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#player > div > b{
    font-size: 22px;
}

#table{
    display: flex;
    flex-direction: column;
    border: 8px rgb(83, 58, 38) solid;
    width: 500px;
    height: 500px;
    background-color: rgba(149, 104, 70, 0.75);
    border-radius: 30px;
    box-shadow: 6px 6px 10px black;
}

.pl{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    width: 380px;
    height: 80px;
    box-sizing: border-box;
    border: 6px rgb(83, 58, 38) solid;
    border-radius: 20px;
    box-shadow: 6px 6px 10px black;
    background-color: #b04e34;
}

#table > div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pl > div {
    min-width: 10%;
    height: 100%;
}

.pl > div > img{
    
    cursor: default;
}

.card {
    display: flex;
    width: 100px;
    height: 100px;
    filter: drop-shadow(3px 4px 0 rgba(0, 0, 0, 0.6));
    perspective: 1000px;
}

.card > div , .pl > div > img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 4px #ffffff outset;
    border-radius: 15px;
    background-color: #ffffff;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.scopri{
    transform: rotateY(180deg);
}

.card > div:active{
    border-style: inset;
    transform: scale(95%);
}

.card > .scopri:active{
    border-style: inset;
    transform: scale(95%) rotateY(180deg);
}

.card > div:not(.scopri):hover{
    background-color: #cccccc;
}

.card > div > div {
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    background-size: cover;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

@media screen and (max-height: 700px) {
    main{
        transform: scale(80%);
    }
}

@media screen and (max-width: 1100px) {
    main{
        gap: 40px;
    }
}

@media screen and (max-width: 970px) {
    #table{
        width: 400px;
        height: 400px;
    }

    .card{
        width: 80px;
        height: 80px;
    }

    #player{
        height: 80%;
    }

    .pl{
        width: 320px;
        height: 70px;
    }
}

@media screen and (max-width: 810px) {
    main{
        gap: 0;
        justify-content: space-around;
        flex-direction: column;
    }

    #player{
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }

    .pl{
        width: 320px;
        height: 65px;
        border-width: 4px;
    }
}

@media screen and (max-width: 700px) {
    #player{
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    #player > div{
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    #table{
        transform: scale(85%);
    }

    #player > div > b{
        font-size: 18px;
    }

    .pl{
        width: 50%;
        min-height: 60px;
        border-width: 4px;
        border-radius: 20px;
    }
}

@media screen and (max-width:370px) {
    #table{
        transform: scale(70%);
    }
}